body {
  padding: 10px;
  margin: 0;
  height: auto;
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;  
}

a, a:visited, 
a:active, 
a:hover { text-decoration: underline; color: black;}

/* Development Aid: REMOVE */
/*.container_12 { background-image: url(http://960.gs/img/12_col.gif); }
.container_16 { background-image: url(http://960.gs/img/16_col.gif); }
.container_24 { background-image: url(http://960.gs/img/24_col.gif); }
*/

h1 { font-size: 1.6em; margin-bottom: 0.5em; font-weight: bold;}
h2 { font-size: 1.4em; margin-bottom: 1em; }
p { padding-bottom: 2em;}

.intro { font-size: 12px; margin-bottom: 10px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;  padding: 10px 0;}